.header {
    padding: 50px 150px 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;       
}        

#header__title {
    color: #FF0043;
    font-size: 20px;
    font-weight: bold;                
}

@media (max-width:768px) {
    .header {
        width: 100%;
        padding-left: 72px;
        padding-right: 72px;
    }
}