.section-devices {     
    padding: 80px 150px; 
    display: flex;
    justify-content: center;   
}

.devices {    
    display: flex;    
}

.devices__item {       
    padding: 30px;
    border-radius: 10px;
    background-color: #FAFAFA;    
}

.devices__item + .devices__item {
    margin-left: 30px;
}

.devices__img {    
    margin-bottom: 20px;
}

.devices__title {    
    font-weight: bold;
    font-size: 22px;    
}

.devices__text {
    font-weight: lighter;
    font-size: 16px;
    width: 300px;    
}

.devices__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.devices__ref {
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;     
}

@media (max-width:768px) {
    .section-devices {     
        padding: 80px 72px;
        width: 100%;
    }

    .devices {    
        flex-direction: column; 
        align-items: center;   
    }

    .devices__item {
        padding: 65px;
    }

    .devices__item + .devices__item {
        margin-left: 0px;
        margin-top: 25px;
    }

    .devices__img img {
        width: 80px;
    }

    .devices__title {
        font-size: 35px;
    }

    .devices__text {
        width: 365px;
        font-size: 26px;
    }

    .devices__ref {
        font-size: 26px;
    }

    .devices__download {
        width: 40px;
        height: 40px;
    }

    #macwin-icon {
        width: 160px;
        height: 80px;
    }
}