.section-possibilities {
    display: flex;
}

.possibilities__content {
    padding-top: 162px;
    max-width: 466px;    
}

.possibilities__title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;    
}

.possibilities__text {
    font-size: 18px;
    font-weight: lighter;    
}

.possibilities__br {
    margin: 10px 0;
}

@media (max-width:768px) {
    .section-possibilities {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .possibilities__content {
        padding-top: 80px;
        max-width: 700px;
    }

    .possibilities__text {
        font-size: 24px;
    }
}


